div.css-1kyxreq.ebxwdo62 {
    background-color: #EEEEEE;
    border: 2px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
}

section.main.css-uf99v8.e1g8pov65 {
    background-color: rgb(220,249,233);
}

section.main.css-uf99v8.e1g8pov65 {
    background-color: rgb(220,249,233);
}

span.css-10trblm.eqr7zpz0{
    color: rgb(11, 147, 97);
}

div.css-5rimss.eqr7zpz4{
    color: indianred;
}